div.vis-item.vis-box {
  text-align: left;
}

.vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}

.vis-item.vis-line {
  border-width: 3px;
}

.vis-item.vis-box {
  border-width: 3px;
  /* border-color: rgba(100, 100, 100, 1.0); */
}

.vis-item.vis-range {
  /* background-color: rgba(213, 221, 246, 0.4); */
  background-color: rgba(144, 238, 144, 0.3);
  border-color: rgba(0, 128, 0, 1.0);
  border-width: 2px;
}

.vis-item.vis-range .vis-item-overflow {
  /**
   * box のはみ出し時にも content は表示する
   */
  overflow: visible;
}

.vis-item-content img {
  height: 1.5em;
  vertical-align: middle;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 5px black;
}

.vis-active .vis-group {
  box-shadow: 0 0 10px #86d5f8;
}

/**
 * background item color
 */

.vis-item.vis-background.background-color-gray {
  background-color: rgba(200, 200, 200, 0.3);
}

.vis-item.vis-background.background-color-blue {
  background-color: rgba(0, 123, 255, 0.1);
}

.vis-item.vis-background.background-color-green {
  background-color: rgba(40, 167, 69, 0.1);
}

.vis-item.vis-background.background-color-yellow {
  background-color: rgba(255, 193, 7, 0.1);
}

.vis-item.vis-background.background-color-red {
  background-color: rgba(220, 53, 69, 0.1);
}

.vis-item.vis-background.background-color-purple {
  background-color: rgba(111, 66, 193, 0.1);
}

.vis-item.vis-background.background-color-orange {
  background-color: rgba(253, 126, 20, 0.1);
}

.vis-item.vis-background.background-color-pink {
  background-color: rgba(232, 62, 140, 0.1);
}

/**
 * box item color
 */

.vis-item.vis-box.box-color-gray:not(.vis-selected),
.vis-item.vis-line.box-color-gray:not(.vis-selected),
.vis-item.vis-dot.box-color-gray:not(.vis-selected)
{
  border-color: rgba(200, 200, 200, 0.4);
  background-color: rgba(200, 200, 200, 0.3);
}

.vis-item.vis-box.box-color-blue:not(.vis-selected),
.vis-item.vis-line.box-color-blue:not(.vis-selected),
.vis-item.vis-dot.box-color-blue:not(.vis-selected)
{
  border-color: rgba(0, 123, 255, 0.4);
  background-color: rgba(204, 228, 255, 0.9);
}

.vis-item.vis-box.box-color-yellow:not(.vis-selected),
.vis-item.vis-line.box-color-yellow:not(.vis-selected),
.vis-item.vis-dot.box-color-yellow:not(.vis-selected)
{
  border-color: rgba(255, 193, 7, 0.4);
  background-color: rgba(253, 241, 205, 0.9);
}

.vis-item.vis-box.box-color-red:not(.vis-selected),
.vis-item.vis-line.box-color-red:not(.vis-selected),
.vis-item.vis-dot.box-color-red:not(.vis-selected)
{
  border-color: rgba(220, 53, 69, 0.4);
  background-color: rgba(255, 214, 219, 0.9);
}

.vis-item.vis-box.box-color-purple:not(.vis-selected),
.vis-item.vis-line.box-color-purple:not(.vis-selected),
.vis-item.vis-dot.box-color-purple:not(.vis-selected)
{
  border-color: rgba(111, 66, 193, 0.4);
  background-color: rgba(229, 216, 255, 0.9);
}

.vis-item.vis-box.box-color-orange:not(.vis-selected),
.vis-item.vis-line.box-color-orange:not(.vis-selected),
.vis-item.vis-dot.box-color-orange:not(.vis-selected)
{
  border-color: rgba(253, 126, 20, 0.4);
  background-color: rgba(255, 230, 210, 0.9);
}

.vis-item.vis-box.box-color-pink:not(.vis-selected),
.vis-item.vis-line.box-color-pink:not(.vis-selected),
.vis-item.vis-dot.box-color-pink:not(.vis-selected)
{
  border-color: rgba(232, 62, 140, 0.4);
  background-color: rgba(255, 213, 232, 0.9);
}
